<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="SimulationFrame">
		<id_arg>0</id_arg>
		<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
			<pos>8,8</pos>
			<object class="wxNotebook" name="ID_NOTEBOOK1" variable="Notebook1" member="yes">
				<size>392,448</size>
				<style>wxHSCROLL</style>
			</object>
		</object>
	</object>
</wxsmith>
